// @include initFont(
//   'Muller',
//   ('Bold': 800, 'Normal': 400)
// );

// === old ===
//$fonts-url: '../fonts';
//@include font-face($font-name, '#{$fonts-url}/#{$font-name}/MullerBold', 800, normal, woff woff2);
//@include font-face($font-name, '#{$fonts-url}/#{$font-name}/MullerNormal', 400, normal, woff woff2);
