$font-main = 'Muller', sans-serif;
$font-family = $font-main;
$font-size = 18px;
$font-weight = 400;
$line-height = 1.2;
$color = $dark;

html {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  font-weight: $font-weight;
}

// =============================================================================
// Placeholder Selectors
// =============================================================================

$h1 {
  font(
    {'mob': 34px, 'xs': 60px},
    {'mob': 1.17, 'xs': 1.07},
    {'mob': 500, 'xs': 400},
    {'xs': -0.5px}
  );
}

$h2 {
  font(
    {'mob': 24px, 'xs': 60px},
    {'mob': 1.17, 'xs': 1.07},
    {'mob': 500, 'xs': 400},
    {'xs': -0.5px}
  );
}

$desc {
  font(
    {'mob': 24px, 'xs': 60px},
    {'mob': 1.17, 'xs': 1.07},
    {'mob': 500, 'xs': 400},
    {'xs': -0.5px}
  );
}
