$font-family = $font-primary;
$font-size = 18px;
$font-weight = 400;
$line-height = 1.2;
$color = $dark;

html {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  font-weight: $font-weight;
}

// =============================================================================
// Placeholder Selectors
// =============================================================================

$h1 {
  font(
    {'mob': rem(32px)},
    {'mob': rem(44px)},
    {'mob': bold}
  );
}

$desc {
  font(
    {'mob': 20px},
    {'mob': 1.17},
    {'mob': 500},
    {'xs': -0.5px}
  );
}
