rem($size) {
  $result = unit($size, 'rem') / unit($font-size, 'rem') * 1rem;

  return round($result, 5)
}

//rem($value) {
//  $u = unit($value);
//  $fs = unit($font-size)
//
//  if (u is 'px') {
//    return unit($value / $fs, 'rem');
//  } else {
//    return unit($value, $u);
//  }
//}

