$font-primary-name = 'Futura PT'
$font-primary = 'Futura PT', sans-serif;

$arr-font = {
  '0': {'file': 'FuturaPT-Heavy', 'weight': 900},
  '1': {'file': 'FuturaPT-Bold', 'weight': bold},
  '2': {'file': 'FuturaPT-Light', 'weight': 300},
  '3': {'file': 'FuturaPT-LightObl', 'weight': 300, 'style': italic},
  '4': {'file': 'FuturaPT-ExtraBoldObl', 'weight': 800, 'style': italic},
  '5': {'file': 'FuturaPT-BookObl', 'weight': normal, 'style': italic},
  '6': {'file': 'FuturaPT-ExtraBold', 'weight': 800},
  '7': {'file': 'FuturaPT-Book', 'weight': normal},
  '8': {'file': 'FuturaPT-Demi', 'weight': 600},
  '9': {'file': 'FuturaPT-DemiObl', 'weight': 600, 'style': italic},
  '10': {'file': 'FuturaPT-Medium', 'weight': 500},
  '11': {'file': 'FuturaPT-BoldObl', 'weight': bold, 'style': italic},
  '12': {'file': 'FuturaPT-MediumObl', 'weight': 500, 'style': italic},
  '13': {'file': 'FuturaPT-HeavyObl', 'weight': 900, 'style': italic},
}

webfont('Futura PT', 'FuturaPT', $arr-font)
